header {
  padding: 25px;
}

.container {
  max-width: 90vw;
  margin: 0 auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  width: 48px;
  height: 48px;
  border-radius: 25%;
}

.nav-lk {
  width: 48px;
  height: 48px;
}

.tables {
  display: flex;
}
.tables__left {
  flex: 1 1 50px;
}
.tables__left img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.tables__right {
  margin-left: 20px;
  flex: 1 1 50px;
  display: flex;
  flex-direction: column;
}

.table {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  font-weight: 700;
  font-size: 22px;
}

.about {
  flex: 1 1 50px;
  margin-bottom: 20px;
  padding: 20px;
}

.partners {
  flex: 1 1 50px;
  padding: 20px;
}

.cases {
  margin: 25px 0;
  text-align: center;
}

.cases-title {
  margin-bottom: 25px;
}
.cases-more {
  margin-top: 25px;
  background-color: #8B53FF;
  color: #fff;
  outline: none;
  padding: 20px 35px;
  border-radius: 8px;
  border: none;
  font-weight: 700;
  font-size: 1.16rem;
  transition: all 0.2s;
}
.cases-more:active {
  border: 3px solid #8B53FF;
  background-color: #fff;
  color: #8B53FF;
}

.wrapper {
  max-width: 1100px;
  width: 100%;
  position: relative;
}

.wrapper i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}

.wrapper i:active {
  transform: translateY(-50%) scale(0.85);
}

.wrapper i:first-child {
  left: -14px;
}

.wrapper i:last-child {
  right: -14px;
}

.wrapper .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc(33.3333333333% - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel.no-transition {
  scroll-behavior: auto;
}

.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}

.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}

.carousel :where(.card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel .card {
  scroll-snap-align: start;
  height: 342px;
  list-style: none;
  background: #fff;
  cursor: pointer;
  padding-bottom: 15px;
  flex-direction: column;
  border-radius: 8px;
}

.carousel .card .img {
  background: #8B53FF;
  height: 148px;
  width: 148px;
  border-radius: 50%;
}

.card .img img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #fff;
}

.carousel .card h2 {
  font-weight: 500;
  font-size: 1.56rem;
  margin: 30px 0 5px;
}

.carousel .card span {
  color: #6A6D78;
  font-size: 1.31rem;
}

@media screen and (max-width: 900px) {
  .wrapper .carousel {
    grid-auto-columns: calc(50% - 9px);
  }
}
@media screen and (max-width: 600px) {
  .wrapper .carousel {
    grid-auto-columns: 100%;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--tg-theme-text-color);
  background: var(--tg-theme-bg-color);
  font-family: "Roboto", sans-serif;
  background-color: rgba(200, 200, 200, 0.6);
}

/*# sourceMappingURL=style.css.map */
