@import "header";
@import "tables";
@import "cases";


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--tg-theme-text-color);
  background: var(--tg-theme-bg-color);
  font-family: "Roboto", sans-serif;
  background-color: rgba(200, 200, 200, 0.60);
}
